header{
    margin: 20px;
    background-color: #f3f3f3;
    border: 1px #777 solid;
    text-align: justify;
    width: 90%;
    padding: 20px;
}

#lista_1 li:nth-child(2) {
    background: #FACC2E;
}
#lista_2 li:nth-child(odd) {
    background: #FACC2E;
}
#lista_3 li:nth-child(3n+0) {
    background: #FACC2E;
}
