@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

header#principal{
    margin: 20px;
    background-color: #f3f3f3;
    border: 1px #777 solid;
    text-align: justify;
    width: 90%;
    padding: 20px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
     box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);

}

header h1.title-header{
  color:#013ADF;
  text-shadow:27px 16px 3px #5374c9;
  font-family: 'Indie Flower', cursive;
  font-size: 150%;
}

header p{
  font-family: 'Indie Flower', cursive;
  font-size: 150%;
}

body{
  font-family: Courier,Verdana, Sans-serif;
}
