


body {
    font: 24px Helvetica;
    font-family: Georgia;
    color: #444;
    background: #999999;
    font-weight: bold;


}

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}


#main>article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    background: #FFFFFF;
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2;
}

#main>nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #FFFFFF;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 1;
    order: 1;
}

/*header{
    background: #999999;
  	color: white;
  	height: auto;
  	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  	left: 0; /* Posicionamos la cabecera al lado izquierdo */
  	top: 0; /* Posicionamos la cabecera pegada arriba */
  	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}*/

header{
  display: block;
  margin: 2px;
  padding: 5px;
  border-radius: 5pt;
  background: #999999;
}

footer{
  display: block;
  margin: 2px;
  padding: 5px;
  border-radius: 5pt;
  background: #999999;
  color: white;
}

#perfil{
  margin: 30px;
  margin-left: 80px;
  width: 180px;
  height: 220px;
  padding: auto;
  border-radius: 5pt;

}

.lista ul
{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
}
.lista li
{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}

#datos_personales{
  float:right;;
  margin-right: 60%;
  font-size: 100%;
  color: black;
  
  font-family: Courier;
}
#datos_personales a{
  color:black;
}

ul{
  list-style: none;
}

hr {
   border: 0;
   height: 0;
   box-shadow: 0 1px 5px 1px #999999;
   margin-top: 0px;
   margin-bottom: 20px;
 }

h2{
  margin-bottom: 0em;
  color: #999999;
}

/*css para la tabla*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

/*enlaces laterales*/

.indice{
width: 90%;
height: 55px;
background-color: #444444;
padding: 10px;
margin-bottom: 4px;
text-align: center;
text-transform: uppercase;
font-family: ‘Open Sans’, Arial;
font-size: 1.2em;
color: #fff;
}

.indice a{
color: #fff;
text-decoration: none;
}

.indice a:hover{
color: #fff;
}

.indice:hover{
background-color: #E1F5A9;
}

/*Formulario decontacto ccs3*/

.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.contacto label{
    display: block;
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px;
}
.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;

    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}

/*pintamos marco verde o rojo si es valido el campo*/
input:required:valid{
 border:2px solid green;

}

 input:focus:required:invalid{
 border:2px solid red;

}

/*pintamos la seccion al apuntar encima*/
section.green:hover {
  background-color: #E1F5A9;
}
